$white: #fff;
$gray: #989898;
$gray-white: #d0d0d0;
$black: #000000;
$black-light: #131313;
$black-lighter: #333333;
$yellow: #ffdb44;

$base-font-family1: "Poppins", sans-serif;
$base-font-family2: "DM Sans", sans-serif;
